<div class="container" *ngIf="isAdvanceSearchSelected">
    <div class="row">
        <div class="col col-md-4" *ngFor="let item of userList; let i=index">
            <div class="card card-image mb-3" [style.background-image]=" (i%2==0) ? 'url(\'../../assets/background_.JPG\')' : 'url(\'../../assets/background.png\')'">
                <div class="text-white text-center d-flex align-items-center rgba-black-strong py-4 px-4">
                    <div>
                        <img [src]="item.avatar_url" alt="User Image" class="rounded-circle img-fluid z-depth-1" height=50 width=50>
                        <br>
                        <a *ngFor="let star of getStarCount(item.score)">
                            <i class="fa fa-star amber-text" aria-hidden="true"></i>
                        </a>
                        <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                        <h3 class="card-title pt-2"><strong>This is card title</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
                            voluptatem,
                            optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                            dignissimos.
                            Odit sed qui, dolorum!.</p>
                        <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> View
                            project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>