<form #frm="ngForm" (ngSubmit)="fetchUser(frm)">
    <div class="row text-center flex-center">
        <div class="col"></div>
        <div class="col md-8">
            <div class="md-form input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text md-addon">www.github.com/</span>
                </div>
                <input type="email" id="user" name="user" [(ngModel)]="user" class="form-control" mdbInputDirective [mdbValidate]="false" ngModel required>
            </div>
            <div class="container alert alert-danger" *ngIf="isInvalidUser" style="text-align: center" role="alert">
                Entered <strong mdbTooltip="github.com/<Username>" placement="bottom"> username </strong> is not
                valid !
            </div>
            <button mdbBtn type="submit" gradient="peach" size="lg" mdbWavesEffect>
                Search
            </button>
        </div>
        <div class="col"></div>
    </div>
</form>
<br />
<div class="container" id="profile">
    <div class="jumbotron" *ngIf="!isInvalidUser && isSubmitClicked">
        <div class="row">
            <div class="col sm-4">
                <h1 class="display-4 adjustText">{{userDetails.name == null ? "Anonymous user" : userDetails.name}}</h1>
                <p class="mb-0 deep-blue-grey-text">
                        <i class="fa fa-quote-left px-1 blue-grey-text" aria-hidden="true"></i>
                        <strong>
                            {{userDetails.bio == null ? "Github Enthusiasts" : getString(userDetails.bio)}}
                        </strong>
                        <i class="fa fa-quote-right px-2 blue-grey-text" aria-hidden="true"></i>
                    </p>
                <p class="mb-0" style="padding: 10px 0px 10px 0px">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{ userDetails.location == null ? "Earth" : userDetails.location }}
                </p>
                <ul class="list-unstyled list-inline font-small">
                    <li class="list-inline-item pr-2 teal-text"><i class="fa fa-clock-o pr-1"></i>{{getFormattedDate(userDetails.updated_at)}}</li>
                    <li class="list-inline-item pr-2 pink-text"><i class="fa fa-heart pr-1"></i>{{userDetails.followers}}</li>
                    <li class="list-inline-item pr-2 blue-text"><i class="fa fa-user-plus pr-1"></i>{{userDetails.following}}21</li>
                    <li class="list-inline-item pr-2 brown-text"><i class="fa fa-code pr-1"></i>{{userDetails.public_repos}}</li>
                </ul>
            </div>
            <div class="col sm-8 align-self-center">
                <img [src]="userDetails.avatar_url" alt="User Image" class="rounded-circle float-right img-fluid z-depth-1"
                    height=120 width=130>
            </div>
        </div>
        <br />
        <p class="mb-0 adjustText" style="padding: 10px">
            <i class="fa fa-external-link blue-text" aria-hidden="true"></i>
            <a [href]="userDetails.html_url" target="_blank">
                {{userDetails.html_url}}
            </a>
        </p>
        <button *ngIf="userDetails.followers > 0" mdbBtn type="button" color="pink" mdbWavesEffect (click)="basicModal.show(); fetchFollowers()">
            <i class="fa fa-heart mr-1 px-1" aria-hidden="true"></i> followers
        </button>
        <button mdbBtn type="button" color="teal" mdbWavesEffect (click)="chartbasicModal.show(); viewChart()">
          <i class="fa fa-pie-chart mr-1 px-1" aria-hidden="true"></i>{{showChartButtonTag}}
        </button>
        <hr class="my-4">
        <p class="text-info">Profile updated {{getFormattedDate(userDetails.updated_at)}}</p>
        <p>Public Repositories : {{repository}}</p>
        <a mdbBtn color="primary" size="lg" target="_blank" [href]="userDetails.html_url" role="button" mdbWavesEffect>
            <i class="fa fa-github mr-1 px-1" aria-hidden="true"></i>
            Learn more
        </a>
        <a mdbBtn color="indigo" size="lg" role="button" mdbWavesEffect class="text-white" (click)="fetchRepo()">
            <i *ngIf="!isShowRepositories" class="fa fa-folder mr-1 px-1" aria-hidden="true"></i>
            <i *ngIf="isShowRepositories" class="fa fa-folder-open mr-1 px-1" aria-hidden="true"></i> {{showRepoButtonTag}}
        </a>
    </div>
</div>

<!--
    REPOSTORY PANE
-->

<div class="container" *ngIf="isShowRepositories">
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let item of repoData; let i=index">
            <!--Card-->
            <mdb-card cascade="true" wider="true">
                <div class="view view-cascade gradient-card-header blue-gradient " *ngIf="i%2==0">
                    <h2 style="text-align: center; padding-top: 10px" class="card-header-title mb-2 text-white">
                        <strong>{{item.name}}</strong>
                    </h2>
                    <p class="text-white" style="text-align: center">
                        <i class="fa fa-calendar"></i> {{item.created_at | date:'dd.MM.yyyy'}}
                    </p>
                </div>
                <div class="view view-cascade gradient-card-header peach-gradient " *ngIf="i%2!=0">
                    <h2 style="text-align: center; padding-top: 10px" class="card-header-title mb-2 text-white">
                        <strong>{{item.name}}</strong>
                    </h2>
                    <p class="text-white" style="text-align: center">
                        <i class="fa fa-calendar"></i> {{item.created_at | date:'dd.MM.yyyy'}}
                    </p>
                </div>

                <mdb-card-body cascade="true" class="text-center">

                    <mdb-card-text style="text-align: left">
                        <a *ngFor="let star of getStartCount(item.forks, item.open_issues)">
                            <i class="fa fa-star amber-text" aria-hidden="true"></i>
                        </a>
                        <br />
                        <br />
                        <p> <i class="fa fa-calendar-plus-o" aria-hidden="true"></i><strong> Last Push: </strong>
                            {{getFormattedDate(item.pushed_at)}}
                        </p>
                        <p> <i class="fa fa-code-fork" aria-hidden="true"></i><strong> Fork: </strong> {{item.forks}}
                        </p>
                        <p> <i class="fa fa-bug" aria-hidden="true"></i><strong> Issues: </strong>
                            {{item.open_issues}}</p>
                        <p> <i class="fa fa-database" aria-hidden="true"></i><strong> Size: </strong> {{item.size}} KB</p>
                    </mdb-card-text>
                    <div class="row">
                        <div class="col-md-4">
                            <a mdbBtn mdbTooltip="Download" placement="left" color="primary" size="sm" [href]="item.svn_url+'/archive/master.zip'"
                                role="button" mdbWavesEffect>
                                <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a mdbBtn mdbTooltip="View Readme" placement="left" color="primary" size="sm" role="button"
                                (click)="readmeModal.show(); fetchReadme(item)" mdbWavesEffect>
                                <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a mdbBtn mdbTooltip="Fork Details" placement="left" color="primary" size="sm" (click)="basicRepoModal.show(); getCurrentRepo(item)"
                                role="button" mdbWavesEffect>
                                <i class="fa fa-users fa-2x" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
            <br /><br />
        </div>
    </div>
</div>

<!--
    Side Bar (Modal)
    Followers
-->
<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-notify modal-primary" role="document">
        <div class="modal-content" *ngIf="userDetails != null && userDetails.followers > 0">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
                <h5 class="modal-title w-100 white-text" id="myModalLabel" style="padding-left: 20px;">Followers of
                    <strong>{{userDetails.name}}</strong>
                </h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-github-alt fa-4x mb-3 animated rotateIn"></i>
                </div>
                    <div class="d-flex w-100 justify-content-between" style="padding-left: 10px;">
                        <h6 class="red-text" style="padding-left: 10px;">
                            <i class="fa fa-heart fa-lg red-text px-1"></i>
                            <strong> Followers: </strong>{{userDetails.followers}}
                        </h6>
                    </div>
                <div class="list-group" *ngIf="userDetails != null && userDetails.followers > 0" style="padding-left: 20px;">
                    <a [href]="follower.html_url" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start"
                        *ngFor="let follower of followers">
                        <div class="row">
                            <div class="col-2 align-self-center">
                                <img [src]="follower.avatar_url" alt="User Image" class="rounded-circle img-fluid z-depth-1"
                                    height=50 width=50>
                            </div>
                            <div class="col-10 float-left">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5>
                                        {{follower.login}}
                                    </h5>
                                    <small mdbTooltip="Profile updated" placement="left" align-self-right>
                                        {{getFormattedDate(followersDetails.get(follower.login).updated_at)}}
                                    </small>
                                </div>
                                <p class="mb-1"></p>
                                <small>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {{followersDetails.get(follower.login).location == null ? "Not found" :
                                    followersDetails.get(follower.login).location }}
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    CHART MODAL
-->

<div mdbModal #chartbasicModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-left" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-left" aria-label="Close" (click)="chartbasicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Repository Analysis</h4>
            </div>
            <div class="modal-body">
                <div style="display: block" *ngIf="isShowChart">
                    <div *ngFor="let index of numberOfChartsArray">
                            <div class="container" style="text-align: center;">
                                    <p class="lead">
                                        <i class="fa fa-bookmark px-2" aria-hidden="true"></i>
                                        <small>Repository analysis of {{userDetails == undefined ? "" : userDetails.name}}</small>
                                    </p>
                                </div>            
                        <canvas mdbChart height="175" width="100" [chartType]="chartType" [data]="chartData[index]" [labels]="chartLabels[index]"
                            [colors]="colors[index]" [options]="chartOptions" [legend]="true">
                        </canvas>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    REPO DETAILS PANE
-->

<div mdbModal #basicRepoModal="mdbModal" class="modal fade left" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-left" role="document">
        <div *ngIf="isShowRepoDetails" class="modal-content" style="padding: 25px">
            <div class="modal-header">
                <button type="button" class="close pull-left" aria-label="Close" (click)="basicRepoModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="d-flex w-100 justify-content-between">
                    <i class="fa fa-file-archive-o fa-2x" aria-hidden="true"></i>
                    <h4 class="modal-title w-100" id="myModalLabel"><strong style="padding-left: 5px">
                            {{currentRepo.name}} </strong></h4>
                </div>
            </div>
            <div class="modal-body">
                <p class="lead pink-text"><i class="fa fa-info-circle pink-text" aria-hidden="true"></i>
                    {{(currentRepo.description == null || currentRepo.description == "") ?
                    "No description provided." :
                    currentRepo.description
                    }}
                </p>
                <p><i class="fa fa-language blue-text" aria-hidden="true"></i><strong> Language: </strong>{{currentRepo.language}}</p>
                <p><i class="fa fa-eye teal-text" aria-hidden="true"></i><strong> Watchers: </strong>{{currentRepo.watchers}}</p>
                <p><i class="fa fa-group light-blue-text" aria-hidden="true"></i><strong> Stargazers: </strong>{{currentRepo.stargazers_count}}</p>


                <div class="d-flex p-2 col-example " style="background-color: #4285F4; padding: 10px; color: white">
                    <div class="d-flex w-100 justify-content-between">
                        <h6>
                            <i class="fa fa-code-fork text-white"></i>
                            <strong> Forks: </strong>{{currentRepo.forks_count}}
                        </h6>
                    </div>

                </div>
                <div class="list-group">
                    <div style="text-align: center; padding-top: 50px" *ngIf="forksData.length == 0">
                       <p class="red-text py-2">
                            <i class="fa fa-rocket fa-1x red-text" aria-hidden="true"></i>
                            <strong> You're a lone ranger ! </strong>
                        </p>
                    </div>
                    <a [href]="item.html_url" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start"
                        *ngFor="let item of forksData">
                        <div class="row">
                            <div class="col-2 align-self-center">
                                <img [src]="item.owner.avatar_url" alt="User Image" class="rounded-circle img-fluid z-depth-1"
                                    height=100 width=100>
                            </div>
                            <div class="col-10 float-left">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5>
                                        {{(item.userDetails.data.name == null) ? item.owner.login :
                                        item.userDetails.data.name}}
                                    </h5>
                                    <small mdbTooltip="Last pushed" placement="left" align-self-right>
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        {{getFormattedDate(item.updated_at)}}
                                    </small>
                                </div>
                                <p class="mb-1"></p>
                                <small>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {{item.userDetails.data.location == null ? "Not found" :
                                    item.userDetails.data.location }}
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <a type="button" target="_blank" [href]="currentRepo.html_url">
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!--
    ----- README MODAL
-->

<div mdbModal #readmeModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content" style="overflow-y: auto;">
            <div class="modal-header peach-gradient">
                <button type="button" class="close pull-right text-white" aria-label="Close" (click)="readmeModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="d-flex w-100 justify-content-between text-white">
                    <i class="fa fa-book fa-2x text-white" aria-hidden="true"></i>
                    <h4 class="modal-title w-100" id="myModalLabel"> Readme</h4>
                </div>
            </div>
            <div *ngIf="!isReadmeFound && (clickedRepoDetails != undefined)" style="text-align: center; padding-top: 40%">
                <i class="fa fa-unlink fa-4x red-text" aria-hidden="true"></i>
                <br /><br />
                <h1 class="adjustText text-danger">Readme Not Found !</h1>
                <br /><br />
                <a mdbBtn color="primary" size="sm" target="_blank" [href]="clickedRepoDetails.html_url" role="button"
                    mdbWavesEffect>
                    <i class="fa  fa-external-link fa-2x" aria-hidden="true"></i>
                    Visit GitHub
                </a>
                <br /><br />
                <p class="lead text-primary">
                    Follow this link to visit original GitHub webpage.
                </p>
            </div>
            <div id="readme" style="padding-left: 40px" class="container modal-body">
            </div>
        </div>
    </div>
</div>
