<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between fixed-top mr-auto">
    <mdb-navbar-brand>
        <a class="navbar-brand icons-xlg git-ic" target="_blank" href="https://github.com/ShubhamWanne/ShubhamWanne.github.io">
            <i class="fa fa-github"></i> GITHUB
        </a>
    </mdb-navbar-brand>
</mdb-navbar>
<br /><br /> <br/>
<div class="row text-center flex-center">
    <div class="col"></div>
    <div class="col sm-4">
        <i class="fa fa-github fa-4x mb-3"></i>
        <h1 class="display-2 example">
            {{title}}
        </h1>
        <h3 class="display-5">GitHub Profile Finder</h3>
    </div>
    <div class="col"></div>
</div>
<br />
<br />
<app-operation></app-operation>