<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between fixed-top mr-auto">
    <mdb-navbar-brand>
        <a class="navbar-brand icons-xlg git-ic" target="_blank" href="https://github.com/ShubhamWanne/GITRecoup">
            <i class="fa fa-github px-2"></i> GITRecoup
        </a>
    </mdb-navbar-brand>
    <links>
        <form #frm="ngForm" class="form-inline ml-auto" (ngSubmit)="fetchUsers(frm)">
            <div class="md-form my-0" style="padding-right: 10px">
                <input size="30" class="form-control" ngModel required name="user" [(ngModel)]="userName" type="text" placeholder="Search"
                    aria-label="Search" />
            </div>
            <button class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>
        </form>
    </links>
</mdb-navbar>
<br /><br />
<div *ngIf="isAdvanceSearchSelected" class="alert alert-primary alert-dismissible fade show" role="alert" style="position: fixed; width: 100%; z-index: 99;">
        <strong>To close search panel</strong> dismiss this alert.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="fetchUsers({})">
            <span aria-hidden="true">&times;</span>
        </button>
</div>    
<br /><br /><br />
<div class="d-flex justify-content-end" style="padding-right: 20px;">
    <button class="btn purple-gradient btn-circle btn-xl sticky" style="position: fixed; z-index: 99; bottom: 20px"
        (click)="goToTop()">
        <i class="fa fa-arrow-up fa-1x mb-3" aria-hidden="true"></i>
    </button>
</div>
<div *ngIf="!isAdvanceSearchSelected">
    <div *ngIf="!isAdvanceSearchSelected" class="row text-center flex-center">
        <div class="col"></div>
        <div class="col sm-4">
            <i class="fa fa-github fa-4x mb-3"></i>
            <h1 class="display-2 example">
                {{title}}
            </h1>
            <h3 class="display-5">GitHub Profile Finder</h3>
        </div>
        <div class="col"></div>
    </div>
    <br /><br />
    <app-operation></app-operation>
</div>
<app-advance-search></app-advance-search>
